<% content_for :main do %>
    Most recent updates first:
    <% for blog in @blogs do %>
        <div class="titles">
            <%= link_to "#{blog.title}", :controller => 'blogs', :action => 'show', :id => blog.id %>
        </div>
        <%= blog.post[0..56] %>...<br /><br />
    <% end %>
<% end %>

<% content_for :sidebar do %>
    Here is the latest content.
<% end %>