<% content_for :main do %>
    <% for blog in @blogs.reverse do %>
        <h2><%= link_to "#{blog.title}", :controller => 'blogs', :action => 'show', :id => blog.id %></h2>
        <%= blog.post[0..220].html_safe %>...<br /><br />
    <% end %>
<% end %>

<% content_for :sidebar do %>
    <p>This is a selection of occasional writing, by <a href="/duncan">Duncan</a>.</p><br /> 
<% end %>