<% content_for :main do %>
    <h1><%= @blog.title %></h1><br />
    <%= @blog.post.html_safe %><br />
<% end %>


<% content_for :sidebar do %>
    Other writings include:<br />
    <% for blog in @blogs do %>
        <%if blog != @blog %>
            <h2><%= link_to "#{blog.title}", :controller => 'blogs', :action => 'show', :id => blog.id %></h2>
            <%= blog.post[0..160].html_safe %>...<br /><br />
        <% end %>
    <% end %>
<% end %>