<% content_for :main do %>
    <h2><%= @blog.title %></h2><br />
    <%= @blog.post %><br />
<% end %>


<% content_for :sidebar do %>
    Previous writings:<br />
    <% for blog in @blogs do %>
        <%if blog != @blog %>
            <h2><%= link_to "#{blog.title}", :controller => 'blogs', :action => 'show', :id => blog.id %></h2><br />
            <%= blog.post[0..156] %>...<br />
        <% end %>
    <% end %>
<% end %>