body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	color: #51463d;
	font-size: 80%;
	background: #F2F3EE;
}

#wrap {
  position: relative;
  background: #4B7C53;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px;
  width: 80%;
  max-width: 100em;
  min-width: 600px;
  box-shadow: 12px 12px 6px rgba(0,0,0,.3);
  -webkit-box-shadow: 12px 12px 6px rgba(0,0,0,.3);
  -moz-box-shadow: 12px 12px 6px rgba(0,0,0,.3);
  -webkit-border-radius: 16px;
}

#inner_wrap {
  background: #ffffff;
  padding: 0px;
  padding: 0px;
  width: 100%;
  -webkit-border-radius: 10px;
}

/* Top section */
#header {
  padding: 10px, 10px 10px, 0;
  text-align: left;
  font-size: 130%;
  background: #4B7C53;
}

/* nav */
#nav {
	position: relative;
	width: 70%;
	max-width: 1200px;
	min-width: 650px;
	margin: 0 auto;
	background: #4B7C53;
	float: right;
}
#nav ul {
	margin: 0 auto;
}
#nav ul li {
	float: left;
	width: 25%;
	margin: 0%;
}
#nav ul li.last {
	margin-right: 0;
}

#nav ul strong {
	display: block;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px;
}
#nav ul em {
  display: block;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0;
	color: #b2a18f;
}

#nav ul a {
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
    background: #4B7C53;
    -webkit-transition: background-color .5s linear;
}
#nav ul a:hover {
  text-decoration:none;
  background-color: white;
}



/* Main */
#wrapcol {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px 0 0 0;
  width: 80%;
  max-width: 70em;
  min-width: 600px; 
}
#main {
  float: left;
  width: 73%;
}

#aside {
  float: right;
  width: 25%;
}

#aside .gutter {
    padding: 15px;
    border-left: 1px dashed #CAC9C7;
}

/* Footer */
#footer {
  clear: both;
	margin: 0 auto;
	padding: 10px 10px 10px 20px;
	font-size: 1em;
	color: #9c836e;
}

/* Links */
a:link, a:visited {
  font-weight: bold;
  text-decoration: none;
  outline: none;
  color: #3792b3;
}
	
/* self-clear floats */
.group:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

