body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Verdana", "Helvetica", "Arial", "sans-serif";
	color: #473D35;
	font-size: 80%;
	background: #EEEFEA;
}

#wrap {
  position: relative;
  background: #B22112;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px;
  width: 75%;
  max-width: 100em;
  min-width: 660px;
  box-shadow: 12px 12px 6px rgba(0,0,0,.3);
  -webkit-box-shadow: 12px 12px 6px rgba(0,0,0,.3);
  -moz-box-shadow: 12px 12px 6px rgba(0,0,0,.3);
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-border-radius: 16px;
}

#inner_wrap {
  background: #ffffff;
  padding: 0px;
  padding: 0px;
  width: 100%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* Top section */
#header {
  text-align: left;
  font-size: 120%;
  background: #B22112;
}

#title {
  clear: both;
  padding: 8px;
  font-weight: bolder;
  float: left;
  font-family: "Baskerville", "Bookman Old Style", "Palatino Linotype", "Palatino", "Century Schoolbook", "Gentium", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 140%;
}
#title a {
  text-decoration: none;
  color: #D5C8C8;
}

#title a:hover {

}

/* nav */
#nav {
	position: relative;
	width: 70%;
	max-width: 1200px;
	min-width: 400px;
	margin: 0 auto;
	float: right;
}
#nav ul {
	margin: 0 auto;
}
#nav ul li {
	float: left;
	width: 25%;
	margin: 0%;
}
#nav ul li.last {
	margin-right: 0;
}

#nav ul strong {
	display: block;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px;
}

#nav ul li a {
    color: #2A2A2A;
    text-decoration:none;
    text-shadow: rgba(213,200,200,.3) 0px 1px 0px;
}

#nav a:hover,
ul#home #t-home a,
ul#about #t-about a,
ul#family #t-family a,
ul#blogs #t-blog a,
ul#history #t-about a,
ul#design #t-about a,
ul#duncan #t-family a,
ul#heidi #t-family a,
ul#asher #t-family a,
ul#indigo #t-family a {
  color: #ffffff;
  font-size: 105%;
  -webkit-transition: color .4s linear;
}

/* Main */
#wrapcol {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 0 0 0;
  width: 88%;
  max-width: 70em;
  min-width: 600px; 
}
#main {
  border-top: 1px dashed #C0C0C0;
  float: left;
  width: 73%;
  padding-top: 10px;
}

#aside {
  border-top: 1px dashed #C0C0C0;
  float: right;
  width: 25%;
  padding-top: 10px;
  height: 100%;
}

#aside .gutter {
    padding-left: 18px;
    border-left: 1px dashed #C0C0C0;
}

/* Footer */
#footer {
  clear: both;
	margin: 0 auto;
	padding: 20px 10px 10px 20px;
	font-size: 0.8em;
	color: #9c836e;
}

.right {
	text-align: right;
	float: right;
}

/* Links */
a {
  color: #B22112;
  text-decoration: none;
}

a:link a:visited {
  color: #C61402;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 145%;
  margin-top:5px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-size: 125%;
  margin-top:10px;
}

h2.nolink a {
  color: #473D35;
}

h2#nolink a:hover {
  text-decoration: none;
}

/* images */
img, object {
  max-width: 100%;
  border: none;
}
	
span a:hover,
span a:hover {
  text-decoration: none;
}
	
div.special {
	position: relative;
	overflow: hidden;
	border: 10px solid #9C9B9B;
	background: #9C9B9B;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  margin-top: 20px;
  margin-bottom: 10px;
}

div.special.trans {
  background: #ffffff;
}

div.special.black {
  background: #000000;
}

div.special.top {
  margin-top: 0px;
}

div.special.small {
  width: 240px;
  float: left;
  margin-right: 20px;
}

div.special.smaller {
  width: 240px;
  float: right;
  margin-left: 20px;
}
	
div.special span span {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 6px;
  left: 5px;
  width: 98%;
  font-family: Georgia, serif;
  font-size: 1.1em;
  font-weight:normal;
  line-height: 1.3em;
  background: #840202;
  background: rgba(128,0,0,.8);
}

div.special span span strong {
  display: block;
  padding: 10px 10px 0 10px;
  font-weight: normal;
  font-style: italic;
  color: #ffffff;
}
	
div.special span span em {
  display: block;
  padding: 0px 10px 10px 10px;
  font-style: italic;
  color: #C2AC77;
}

ul.list {
  list-style-position: inside;
  list-style-type: circle;
}

span.code {
  font: courier;
  text-decoration: bold;
}

#nomove {
  /*max-width: 100%;
  position: fixed;
  padding: 3px;
  border: 2px solid #B22112;*/
}
	
/* self-clear floats */
.group:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

