body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	color: #51463d;
	font-size: 80%;
	background: #EEEFEA;
}

#wrap {
  position: relative;
  background: #B22112;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px;
  width: 75%;
  max-width: 100em;
  min-width: 660px;
  box-shadow: 12px 12px 6px rgba(0,0,0,.3);
  -webkit-box-shadow: 12px 12px 6px rgba(0,0,0,.3);
  -moz-box-shadow: 12px 12px 6px rgba(0,0,0,.3);
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-border-radius: 16px;
}

#inner_wrap {
  background: #ffffff;
  padding: 0px;
  padding: 0px;
  width: 100%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* Top section */
#header {
  text-align: left;
  font-size: 120%;
  background: #B22112;
}

#title {
  clear: both;
  padding: 8px;
  font-weight: bolder;
  float: left;
  font-family: "Baskerville", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
  font-size: 150%;
}
#title a {
  text-decoration: none;
  color: #D5C8C8;
}

#title a:hover {

}

/* nav */
#nav {
	position: relative;
	width: 70%;
	max-width: 1200px;
	min-width: 400px;
	margin: 0 auto;
	float: right;
}
#nav ul {
	margin: 0 auto;
}
#nav ul li {
	float: left;
	width: 25%;
	margin: 0%;
}
#nav ul li.last {
	margin-right: 0;
}

#nav ul strong {
	display: block;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px;
}

#nav ul li a {
    color: #2A2A2A;
    text-decoration:none;
    text-shadow: rgba(213,200,200,.3) 0px 1px 0px;
}

#nav a:hover,
ul#home #t-home a,
ul#about #t-about a,
ul#family #t-family a,
ul#blog #t-blog a {
  color: #ffffff;
  font-size: 105%;
  -webkit-transition: color .4s linear;
}



/* Main */
#wrapcol {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 0 0 0;
  width: 88%;
  max-width: 70em;
  min-width: 600px; 
}
#main {
  border-top: 1px dashed #C0C0C0;
  float: left;
  width: 73%;
  padding-top: 10px;
}

#aside {
  border-top: 1px dashed #C0C0C0;
  float: right;
  width: 25%;
  padding-top: 10px;
  height: 100%;
}

#aside .gutter {
    padding-left: 18px;
    border-left: 1px dashed #C0C0C0;
}

/* Footer */
#footer {
  clear: both;
	margin: 0 auto;
	padding: 20px 10px 10px 20px;
	font-size: 0.8em;
	color: #9c836e;
}

/* Links */
.titles {
  text-align: left;
}

.titles a:link, .titles a:visited {
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  color: #B22112;
  
}

.titles a:hover {
  background: #E5E5E1;
  color: #E12310;
  padding: 1px;
  border-bottom: 1px solid #601108;
}

a {
  color: #B22112;
  text-decoration: none;
}

a:link a:visited {
  color: #B22112;
}

/*a:hover {
  background: #F3F2CF;
  color: black;
  border-bottom: 1px solid black;
}*/

/* images */
img, object {
  max-width: 100%;
  border: none;
}
	
div.special {
	position: relative;
	overflow: hidden;
	border: 10px solid #9C9B9B;
	background: #9C9B9B;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

div.special.trans {
  background: #ffffff;
}
	
div.special span {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 6px;
  left: 6px;
  width: 98%;
  font-family: Georgia, serif;
  font-size: 1.1em;
  font-weight:normal;
  line-height: 1.3em;
  background: #840202;
  background: rgba(128,0,0,.8);
}

div.special span strong {
  display: block;
  padding: 10px 10px 0 10px;
  font-weight: normal;
  font-style: italic;
  color: #ffffff;
}
	
div.special span em {
  display: block;
  padding: 0px 10px 10px 10px;
  font-style: italic;
  color: #C2AC77;
}
	
/* self-clear floats */
.group:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

