<% content_for :main do %>
    <p>For now, I'm just getting the pictures to work correctly.</p><br />
    
    <div class="special">
        <div class="special-img">
    		<%= hurwoodgroup2005 %>
    		<span><strong>The Hurwood Family</strong> <em>2005</em></span>
    	</div>
    </div>
<% end %>

<% content_for :sidebar do %>
    <p>The Hurwood family website has been on the web since 1998.</p><br />
    <p>This section looks at its history, and examines the design decisions behind this latest version of the website.</p>
<% end %>