<% content_for :main do %>
    <% if @content == "design" %>
        <H1>Design Page</h1>
            <%= @content %>
    <% elsif @content == "history"%>
        <h1>History Page</h1>
        <%= @content %>
    <% else %>
        <p>The website has been designed to adhere to modern standards, which can be tested by putting the site through the <a href="http://validator.w3.org/check?uri=http://hurwood.heroku.com/about">W3C Markup Validation tool</a>.</p><br />
        <p>As it passes as <a href="http://www.w3.org/TR/xhtml11/">Strict XHTML 1.1</a>, I have put the banner below:</p><br />
        <p>
            <a href="http://validator.w3.org/check?uri=referer">
                <img src="http://www.w3.org/Icons/valid-xhtml11" alt="Valid XHTML 1.1" height="31" width="88" />
            </a>
        </p>
    <% end %>
<% end %>

<% content_for :sidebar do %>
    <p>The Hurwood family website has been on the web since 1999.</p><br />
    <p>This section looks at the design and history of the site.</p><br /><br />
    <%= link_to "Site coding and design", design_url %><br />
    A brief look at the design and coding philosophy behind the site<br /><br />
    <%= link_to "Site history", history_url %><br />
    A look at past versions of the website.
<% end %>


