<% content_for :main do %>
    <%= hurwoodgroup2010 %>
    <br /><br /><p>The Hurwoods are: <a href="/duncan">Duncan</a>, <a href="/heidi">Heidi</a>, <a href="/indigo">Indigo</a> and <a href="/asher">Asher</a>.</p><br />
<% end %>

<% content_for :sidebar do %>
    <p>This is the Hurwood Family website.</p><br />
    <p>It contains:</p><br />
    <p><%= link_to "Writing", blogs_url %></p>
    <p>Duncan's occasional articles.</p><br />
    <p><%= link_to "Family", family_url %></p>
    <p>Work and beyond; the things we do.</p><br />
    <p><%= link_to "About the site", about_url %></p>
    <p>Information about how the site was made, and also our web archive.</p><br />
<% end %>