<% content_for :main do %>
    <%= hurwoodgroup2010 %>
    <br /><br /><p>The Hurwood Family are: Duncan, Heidi, Indigo and Asher.</p><br />
<% end %>

<% content_for :sidebar do %>
    <p>This is the Hurwood Family website.</p><br />
    <p>Site Contents:</p><br />
    <p>Blog</p>
    <p>Duncan's occasional articles</p><br />
    <p>Family</p>
    <p>Work and beyond; the things we do</p><br />
    <p>About</p>
    <p>Information about how the site was made, and our web archive</p><br />
<% end %>