<div id="title">
	<h1>hurwood<em>.net</em></h1>
</div>

<ul id="nav">
    <li><%= link_to "Home", root_url %></li>
    <li><%= link_to "Family", family_url %></li>
	<li><%= link_to "About the Website", about_url %></li>
</ul>