<div id="header">
	<h1>hurwood<em>.net</em></h1>

<div id="nav">
<ul>
    <li><%= link_to "<strong>Home <em>Home Page</em></strong>", root_url %></li>
    <li><%= link_to "<strong>Blog <em>Some Thoughts</em></strong>", blogs_url %></li>
    <li><%= link_to "<strong>Family <em>the 'Hurwood' name</em></strong>", family_url %></li>
	<li><%= link_to "<strong>About the Website <em>Site history and more</em></strong>", about_url %></li>
</ul>
</div>

</div>